<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project not found</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="container mx-auto">
    <%- include('partials/navbar', {page: '' }) %>
      <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404 Error</h1>
            <p class="py-6">
              <%= typeof message !=='undefined' ? message : 'Sorry, the page you are looking for could not be found.' %>
            </p>
            <p><a href="/">Return to homepage</a></p>
          </div>
        </div>
      </div>
  </div>
</body>

</html>